# Python Basics for Machine learning

## 1. Variables, Data Types, and Basic I/O

### 1. varibales

Variables are essential in programming, allowing us to store and manipulate data. In Python:

- **Declaration and Assignment:** A variable is created when a value is assigned to it, e.g., x = 5.
- **Naming:** Names should start with a letter or an underscore, followed by letters, numbers, or underscores.
- **Accessing and Modifying:** Access values using the variable name, e.g., print(x), and modify values by re-assignment, e.g., x = 10.
- **Dynamic Typing:** Python determines the type of a variable at runtime, and a variable's type can change as new values are assigned to it.
Let's explore these concepts with some examples in the following cells.

- **Declaration and Assignment**

In this step, we declare variables x and y, and assign values to them.

In [7]:
x = 5  # A variable named x is declared and assigned the value of 5.
y = "Hello"  # A variable named y is declared and assigned the value of "Hello".

- **Good Practice for Naming Variables**

Here, we name a variable descriptively to indicate its purpose.

In [8]:
user_age = 25  # It's descriptive and tells us it's the age of a user

- **Accessing Variable Values**

We can access the values stored in variables using the print function.

In [9]:
print(x)  # Output: 5
print(y)  # Output: Hello
print(user_age)  # Output: 25

5
Hello
25

- **Modifying Variable Values**

Variables values can be changed by re-assignment. 

Here, we change the value of x from 5 to 10.

In [11]:
x = 10  # The value of x is now changed to 10.
print(x)  # Output: 10
# Now x holds the value 10 instead of 5.

10

### 2. Data Types

- int: Represents integer values (e.g., -2, -1, 0, 1, 2)
- float: Represents floating-point or decimal values (e.g., -2.5, -1.0, 0.0, 1.5, 2.8)
- str: Represents string or text values (e.g., "hello", 'Python')
- bool: Represents boolean values, True or False (e.g., True, False)

- Integer data type

In [4]:
integer_value = 10
print(f"Value: {integer_value}, Data Type: {type(integer_value)}")  # Output: Value: 10, Data Type: <class 'int'>

Value: 10, Data Type: <class 'int'>

- Floating-point data type

In [16]:
float_value = 20.5
print(f"Value: {float_value}, Data Type: {type(float_value)}")  # Output: Value: 20.5, Data Type: <class 'float'>

Value: 20.5, Data Type: <class 'float'>

- String data type

In [6]:
string_value = "Hello, Python!"
print(f"Value: {string_value}, Data Type: {type(string_value)}")  # Output: Value: Hello, Python!, Data Type: <class 'str'>

Value: Hello, Python!, Data Type: <class 'str'>

- Boolean data type

In [7]:
boolean_value = True
print(f"Value: {boolean_value}, Data Type: {type(boolean_value)}")  # Output: Value: True, Data Type: <class 'bool'>

Value: True, Data Type: <class 'bool'>

### 3. Basic input and output (I/O) operations

Input Operations:
- Getting user input using input() function.
- Example: user_input = input("Enter something: ")
Output Operations:
- Displaying output using print() function.
- Example: print("You entered:", user_input)

- Getting user input

In [19]:
# Getting user input
user_input = input("Please enter your name: ")

Please enter your name:  salma

- Displaying output

In [30]:
# Displaying output
print("Hello, " + user_input + "!")

Hello, Salma!

Now, let's assume we want to get a numerical input for calculation purposes.

However, the input() function returns a string by default.

So we'll need to convert this string to an integer using the int() function.

- Getting numerical user input

In [9]:
user_age = input("Please enter your age: ")
user_age = int(user_age)  # Converting string to integer

Please enter your age:  27

Now we can use this numerical input for calculations

For example, let's calculate the age in months:

In [10]:
age_in_months = user_age * 12

- Displaying the result

In [11]:
print("You are " + str(age_in_months) + " months old.")

You are 324 months old.

## 2. Basic Data Structures: Lists, Tuples, Dictionaries, and Sets

### 1. Lists

- Lists are ordered collections of items that can be of mixed data types. You can append new items to a list using the append() method.

In [1]:
# Example of Lists
my_list = [1, 2, 3, "Python", 4.5]
print(my_list)  # Output: [1, 2, 3, 'Python', 4.5]
my_list.append(6)  # Adding a new item to the list
print(my_list)  # Output: [1, 2, 3, 'Python', 4.5, 6]

[1, 2, 3, 'Python', 4.5]
[1, 2, 3, 'Python', 4.5, 6]

### 2. Tuples

- Tuples are similar to lists but are immutable, so you cannot change a tuple once it's created.

In [2]:
# Example of Tuples
my_tuple = (1, 2, 3, "Python", 4.5)
print(my_tuple)  # Output: (1, 2, 3, 'Python', 4.5)
# my_tuple[1] = 5  # This will raise a TypeError as tuples are immutable

(1, 2, 3, 'Python', 4.5)

### 3. Dictionaries

- Dictionaries store data as key-value pairs. You can add new key-value pairs or modify existing ones

In [3]:
# Example of Dictionaries
my_dict = {"name": "Alice", "age": 25}
print(my_dict)  # Output: {'name': 'Alice', 'age': 25}
my_dict["location"] = "USA"  # Adding a new key-value pair to the dictionary
print(my_dict)  # Output: {'name': 'Alice', 'age': 25, 'location': 'USA'}

{'name': 'Alice', 'age': 25}
{'name': 'Alice', 'age': 25, 'location': 'USA'}

### 4. Sets

- Sets are collections of unique items. You can add new items to a set using the add() method. If you try to add a duplicate item, it will not be added to the set.

In [4]:
# Example of Sets
my_set = {1, 2, 3}
print(my_set)  # Output: {1, 2, 3}
my_set.add(4)  # Adding a new unique item to the set
print(my_set)  # Output: {1, 2, 3, 4}
my_set.add(3)  # Adding a duplicate item to the set, it will not be added
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}

## Control Structures: if, for, and while Loops, and List Comprehensions

### 1. if statement

if statement: Here, we check if a is greater than 5. Since it's true, the statement inside the if block is executed.

In [9]:
# Example 1: if statement
a = 10
if a > 5:
    print("a is greater than 5")  # Output: a is greater than 5

a is greater than 5

### 2. for loop

for loop: We iterate over a sequence of numbers generated by range(5), printing each number.

In [10]:
# Example 2: for loop
for i in range(5):  # range(5) generates a sequence of numbers from 0 to 4
    print(i)  # Output: 0, 1, 2, 3, 4, on separate lines

0
1
2
3
4

### 3. while loop

while loop: The loop keeps executing as long as counter is less than 5, printing and then incrementing counter.

In [11]:
# Example 3: while loop
counter = 0
while counter < 5:
    print(counter)  # Output: 0, 1, 2, 3, 4, on separate lines
    counter += 1  # Incrementing the counter

0
1
2
3
4

### 4. List Comprehension

List Comprehension: A new list squares is created by squaring each number in the numbers list.

In [12]:
# Example 4: List Comprehension
numbers = [1, 2, 3, 4, 5]
squares = [n**2 for n in numbers]  # Calculating the square of each number
print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

### 5. List Comprehension with condition

List Comprehension with condition: A new list evens is created by filtering out only even numbers from the numbers list.

In [13]:
# Example 5: List Comprehension with condition
evens = [n for n in numbers if n % 2 == 0]  # Filtering even numbers
print(evens)  # Output: [2, 4]

[2, 4]

----